/* Reset CSS */

/* Box sizing border-box por padrão */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remover margens e preenchimentos padrão */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
blockquote {
  margin: 0;
  padding: 0;
}

/* Remover estilo de lista padrão */
ul,
ol {
  list-style: none;
}

/* Remover decoração de link padrão */
a {
  text-decoration: none;
}

/* Definir estilo de fonte base e cor para o corpo */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

/* Limpar estilos padrão para elementos de formulário */
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* Normalizar estilos de formulário */
button,
input {
  overflow: visible;
}

/* Corrigir problemas de renderização no IE */
svg {
  overflow: hidden;
}